* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 10px 0;
}
.header-logo {
    width: 900px;
    display: flex;
    justify-content: space-between;
    
}
.links {
    display: flex;
    justify-content: flex-end;
}
.link-three {
    margin-left: 20px;
}
.link-two {
    margin-left: 20px;
}